<!DOCTYPE html>
<html lang="en" xmlns:th="http://www,thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Page</h1>

<a th:href="@{/Staff/Create}">Create New Staff</a>

<table border="1">
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <tr th:each="staff: ${staffs}">
        <td th:text="${staff.id}">1</td>
        <td th:text="${staff.name}">John</td>
        <td th:text="${staff.age}">23</td>
        <td><a th:href="@{/Staff/View(id=${staff.id})}">View</a> <a th:href="@{/Staff/Edit/{id}(id = ${staff.id})}">Edit</a> <a href="">Delete</a></td>

    </tr>
</table>

</body>
</html>